header {
  height: 80px;
  padding: 0 100px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .menu {
    display: flex;
    margin-left: 40px;

    p {
      margin-right: 40px;
      text-transform: uppercase;
    }
  }

  .icons {
    display: flex;

    .icon {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      margin: 0 10px;
      align-items: center;
      justify-content: center;
      position: relative;

      .badge {
        position: absolute;
        top: -12px;
        right: -5px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: #ff0000;
        display: grid;
        place-items: center;

        p {
          font-family: sans-serif;
          color: white;
          font-size: 0.7rem;
        }
      }
    }
  }
}
